<article class="row g-3 mb-5 mt-3 ">
    <div>
        <h2 class="col">¿Quiénes Somos?</h2>
    </div>

    <div class="parrafo-introductorio">
    <p>
      El cine inició, como tal, en el siglo XIX, cuando en 1895 los hermanos
      Lumière proyectaron en una función pública varias escenas de la vida
      cotidiana de su tiempo: la salida de los obreros de una fábrica, la
      demolición de un muro, la llegada de un tren, la partida de un barco.
    </p>
    <p>
      Desde entonces, el cine ha evolucionado enormemente. De la primera
      etapa de cine mudo, pasamos al cine sonoro, y de allí llegamos al cine
      a color. Actualmente, se ha desarrollado, además, el cine digital y el
      cine 3D y 4D.
    </p>
    <p>
      El cine, como arte, es la forma en que las sociedades se narran sus
      historias, problemas, coyunturas o circunstancias a través del
      discurso audiovisual. El cine es el reflejo del tiempo en que vivimos,
      de nuestras preocupaciones y nuestros anhelos a nivel personal o
      colectivo.
    </p>
    </div>
    <p>
      Cinemanía es un equipo de profesionales especializados en la operación
      comercial y artística de salas de espectáculos públicos. Ofrece
      servicios de programación y asesoramiento a grupos de empresarios
      independientes que son parte de la industria del entretenimiento en
      Argentina.
    </p>
    <p>
      El objetivo es potenciar las iniciativas y performances de los
      emprendimientos comerciales del sector, entregándoles herramientas
      comerciales durante todas sus etapas.
    </p>
    <p>
      Cinemanía entiende al cine como una experiencia sensorial, en donde el
      espectador puede disfrutar de seleccionados productos culturales que
      son ofrecidos en diferentes pantallas de las principales ciudades
      argentinas.
    </p>
  </article>