*{
    color: rgb(255, 255, 255);
    list-style: none;
    text-decoration: none;

}
.premiere{
    margin: 6px;
    background-color: #636363;;
}

.thead{
    background-color: #db293b;
    color: aliceblue;
}



